/* Color Palette */
:root {
    --primary-bg-color: #000;
    --primary-fg-color: #ffffff;
    --primary-accent-color: #adadff;
}


html {
    background-color: var(--primary-bg-color);
    color: var(--primary-fg-color);
}

body {
    font-family: sans-serif;
    line-height: 1.6rem;
}

#outer-wrapper {
    scroll-snap-type: y mandatory;
    max-height: calc(100vh - 30px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

header>h1,
.project-section>h2 {
    margin-top: auto;
}

header>h1>img,
.project-section>h2>img {
    max-width: min(50vw, 800px);
}

header,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header>p {
    font-size: x-large;
    color: var(--primary-accent-color);
}

#profile-link {
    font-size: medium;
    color: var(--primary-accent-color);
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: border 0.3s ease-in-out;
}

#profile-link img {
    position: relative;
    top: 5pt;
    margin-right: -5pt;
}

#profile-link:hover {
    border-color: var(--primary-accent-color);
}

.scroll-down-button,
.scroll-up-button {
    margin-top: auto;
    margin-bottom: 50pt;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.scroll-up-button {
    transform: rotate(180deg);
}

.scroll-down-button:hover,
.scroll-up-button:hover {
    opacity: 1;
}

header,
.project-section,
footer {
    scroll-snap-align: start;
}

header,
.project-section {
    min-height: 100vh;
    max-height: 100vh;
    justify-content: center;
}

.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid #222;
    padding-bottom: 1rem;
}

.project-section p {
    max-width: min(800px, 80vw);
    border-bottom: 3px solid var(--primary-accent-color);
}

.project-section#sse-at-section {
    --primary-accent-color: #7861aa;
    background: #602FBA;
    background: linear-gradient(135deg, rgba(96, 47, 186, 1) 0%, rgba(0, 0, 0, 1) 50%);
}

.project-section#mmm-section {
    --primary-accent-color: #f6a440;
    background-image: url(../img/MMM_background.png);
}

.project-section#dip-section {
    --primary-accent-color: #0070e0;
}

.project-section#fck-section {
    --primary-accent-color: #ff746c;
    background-image: url(../img/FCK_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.project-section#sse-ld-section {
    --primary-accent-color: #00815D;
    background: #00815D;
    background: linear-gradient(135deg, rgba(0, 129, 93, 1) 0%, rgba(0, 0, 0, 1) 50%);
}

.link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 630px) {
    header,
    .project-section,
    footer {
        max-height: unset;
    }

    .link-container {
        flex-direction: column;
    }

    header>h1>img,
    .project-section>h2>img {
        max-width: 80vw;
    }

    .project-section p {
        border-bottom: 0;
        border-left: 3px solid var(--primary-accent-color);
        padding-left: 5px;
    }
}

footer {
    color: #888;
}